html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider {
  position: relative;
  width: 800px;
  height: 400px;
  margin: auto;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-block;
  width: 50px;
  height: 57px;
  background-color: #26b9e1;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
}

.slides-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.slides-descr {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 350px;
  padding: 10px;
  margin: 0;
  background-color: #fff;
}

.slider-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-pagination-item {
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #b0b8b9;
  cursor: pointer;
}

.slider-pagination-active {
  background-color: #20a8da;
}
