html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.card {
  position: relative;
  width: 224px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 249px;
  background-color: rgb(76, 118, 255);
  opacity: 0;
}

.overlay-icon {
  position: absolute;
  bottom: 0;
  right: 0;

  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
}

.card:hover .overlay {
  opacity: 0.949;
}

.article {
  position: relative;
  width: 300px;
  padding-left: 70px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.article::before {
  position: absolute;
  left: 5px;
  top: 15px;
  display: inline-block;
  content: '';
  width: 50px;
  height: 50px;
  background-color: red;
}


