.price-filter {
  width: 240px;
  margin: 50px auto;
}

.range-controls {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  flex: 0 0 100%;
  height: 3px;
  background-color: #ccc;
}

.range-controls .bar {
  height: 3px;
  background-color: palevioletred;
}

.range-toggle {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 22px;
  height: 22px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 150px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  display: inline-block;
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background-color: #f1f1f1;

  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #212121;
  border-radius: 5px;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
