$main-font-stack: 'Raleway', 'Arial', sans-serif;

$primary-white-color: #ffffff;

$primary-dark-color: #2d3033;
$secondary-dark-color: #6c7279;

$secondary-bg-color: #3a3e64;

$primary-accent-color: #e84545;

$border-color: #c6cacc;

$main-text-size: 14px;
$main-text-height: 21px;
