.container {
  width: 320px;

  @media (min-width: 768px) {
    width: 720px;
  }

  &::before {
    @include pseudo();

    @media (min-width: 768px) {
      background-color: red;
    }
  }

  @media (min-width: 940px) {
    width: 900px;
  }
}
